<mat-grid-list cols="2" rowHeight="2:1" class="margin-top">
  <mat-grid-tile>
    <mat-card class="card-width">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-width">
      <mat-card-title>Bichon Frise</mat-card-title>
      <img mat-card-image src="assets/Bichon.jpg" alt="Photo of a Bichon Frise">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-width">
      <mat-card-title>Australian Shepherd</mat-card-title>
      <img mat-card-image src="assets/AS.jpeg" alt="Photo of a Australian Shepherd">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-width">
      <mat-card-title>Pomeranian Husky</mat-card-title>
      <img mat-card-image src="assets/pomeranian-husky-pomsky-dog.jpg" alt="Photo of a Pomeranian Husky">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
