<mat-toolbar color="primary">
  <span class="center">A Peek at Several States</span>

<!--  <button mat-flat-button routerLink="interactive-slideshow-vertical" class="margin-left">Vertical Slideshow</button>-->
<!--  <button mat-flat-button routerLink="interactive-slideshow-horizontal" class="margin-left">Horizontal Slideshow</button>-->
<!--  <button mat-flat-button routerLink="grid" class="margin-left">Grid</button>-->
<!--  <button mat-flat-button routerLink="cli-default" class="margin-left">CLI Default</button>-->

</mat-toolbar>

<router-outlet></router-outlet>
